!!!
%html
  %head
    %title slide title
    %meta{charset: "utf-8"}
    %script{src: "components/jquery/jquery.min.js"}
    %script{src: "components/haas.js/js/haas.min.js"}
    %script{src: "https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"}
    %link{rel: "stylesheet", type: "text/css", href: "components/normalize-css/normalize.css"}
    %link{rel: "stylesheet", type: "text/css", href: "themes/css/default.css"}
  %body
    = yield
