%section
  %h1 Glide
  %h2 at content.haml
  %p
    Naoto Kaneko /
    %a{href: "http://twitter.com/naoty_k"} @naoty_k

%section
  %h2 Agenda
  %ol
    %li What is this?
    %li How to use
    %li Contributing

%section
  %h2 1. What is this?
  %p
    This is a template for easily making slides. This includes layout file written by haml, contents of the slide written by markdown, a javascript library to make slides using HTML, and themes.

%section
  %h2 2. How to use
  %code
    %pre
      $ git clone git://github.com/naoty/slide_template slide_title
      $ cd slide_title
      $ bundle install
      $ bower install
      $ vi content.md
      $ rake
      $ open index.html

%section
  %h2 3. Contributing
  %p
    If you make themes for your own, welcome your pull request to include it in the template themes!
